<kendo-mobile-view k-title="'{{title}}'" k-layout="'default'" ng-controller="loginController">
            <img src="styles/images/Checknet-Logo.png" style="width: 14em; height: 4.5em; margin: .5em auto 1.5em; display: block; float: none;" />
   
        <!--    <select ng-model="selectedLanague"  ng-change="translatePage()" ng-options="language.Culture as language.Name for language in languages" ng-init="selectedLanague = selectedLanague || 'en-US'">
            </select>
            {{selectedLanague}}-->

            <form name="loginForm" novalidate>
                 <ul kendo-mobile-list-view k-style="'inset'" class="km-grey-box">
                 <li>
                               
                    <input kendo-mobile-switch k-id="email-switch" k-checked="checked"  data-ng-model="loginData.useRefreshTokens" /><label> {{form.remmberMe.resoruceValue}}</label>
                </li>
                <li>
                   <label class=" km-state-active km-label-above">
                        <input value="" type="text" placeholder="{{form.username.resoruceValue}}" name="userName" ng-model="loginData.userName" required autofocus/>
                       </label>
                   
                </li>
                <li>
                    <label class="km-label-above">
                        <input value="Password123" type="password" placeholder="{{form.password.resoruceValue}}" ng-model="loginData.password" required placeholder="Password" >
                        <kendo-mobile-button k-icon="'check-icon icon-password'" class="password-button" data-rel="modalview" k-on-click="forgotPasswordModalOpen()" id="modalview-open-button"></kendo-mobile-button>
                    </label>
                </li>
                       <li>
                     <p><a href="#" ng-click="showPasswordHint()">{{form.passwordHint.resoruceValue}}</a></p>
                           <div ng-show="passwordHint">
                            <br/>
                            <div class="alert alert-success" role="alert">
                                <span class="glyphicon glyphicon-exclamation-ok" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                Password hint is : <b>{{passwordHint}}</b>
                            </div>
                        </div>
                    
                </li>
                              <li>
                    <i></i>
                    <kendo-mobile-button ng-click="login()" class="km-primary km-large km-justified">{{form.signin.resoruceValue}}</kendo-mobile-button>
                </li>
            </ul>
              
               
                       
                      <!--   <kendo-mobile-button k-rel="'modalview'"  k-on-click="forgotPasswordModalOpen()" style="width: 100%;" k-float="'center'"  id="modalview-open-button">{{form.forgotPassword.resoruceValue}}</kendo-mobile-button>

                  -->

              
            
                        <div ng-show="message">
                            <br />
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{message}}
                            </div>
                        </div>
              
            </form>

     
       
        <kendo-mobile-modal-view id="modalview-forgotpassword"  k-transition="'overlay:up reverse'" style="width: 90%;">
           
            <kendo-mobile-list-view k-style="'inset'" class="km-module-wrap">
                    <li>
                <h2 class="km-bold-font">Forgot Your Password?</h2>
                    <p>
                        Please enter your email address to receive a new password.
                    </p>
                </li>
                <li>
                    <label for="email" class="km-state-active km-label-above">
                        Email Address:
                        <input type="email" id="email" ng-model="loginData.email" />
                    </label>
                </li>
                     <i></i>
                    <kendo-mobile-button class="km-primary km-large km-justified"  k-on-click="sendPassword()" >Send New Password</kendo-mobile-button>
                </li>
            </kendo-mobile-list-view>

               <kendo-mobile-footer>
                <div kendo-mobile-nav-bar class="km-transparent">
                    <a kendo-mobile-button href="#login" k-transition="'overlay:down reverse'" k-on-click="closeModalViewForgotPassword()"><img src="styles/images/close-button.png" style="width: 3em; height: 3em;display: block;" /></a>
                </div>
            </kendo-mobile-footer>
        </kendo-mobile-modal-view>

  
        <!-- End Form Area -->
        <p class="km-style-info" style="text-align: center; padding-top:1em;">This app contains confidential and proprietary information. This information is provided for the benefit of authorized users only. Unauthorized access to information on this system may result in criminal and/or civil prosecution. All accesses are logged and this information will be used to support any prosecution. </p>
        <p class="km-style-info km-bold-font" style="text-align: center; padding-top:1em;">Material contained on this app is Copyright ©2001-2015 Checkpoint Systems, Inc.</p>
        <!-- End Login View -->
</kendo-mobile-view>
