<kendo-mobile-view k-transition="'slide'">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent">
            <kendo-mobile-back-button k-align="'left'">Back</kendo-mobile-back-button>
            <kendo-view-title>FAQs</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content>
        <kendo-mobile-list-view class="km-grey-box">
            <li>
                <p>The following list is meant as a guide for new and existing CheckNet users. The list is not exhaustive and will be updated periodically to address common questions and to accommodate the addition of functionality.</p>
            </li>
        </kendo-mobile-list-view>
        <kendo-mobile-list-view>
            <kendo-mobile-collapsible k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="'true'" k-on-expand="OpenExpand()">
                <h3>I am already a user and I have a feature specific question, where can I find answers?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sollicitudin nunc, ut auctor lectus scelerisque id. Duis semper, dui non iaculis placerat, enim orci venenatis enim, a laoreet turpis tellus a nulla. Suspendisse nec mi mattis, hendrerit magna eget, convallis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla luctus hendrerit pellentesque. Aliquam dictum sodales velit eget hendrerit. Ut diam dui, maximus id nisi et, mattis condimentum nunc. Phasellus sollicitudin scelerisque lacus non placerat.
                </p>
            </kendo-mobile-collapsible>
            <kendo-mobile-collapsible k-mini="false" k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="true" k-on-expand="OpenExpand()">
                <h3>Is my account set up yet?</h3>
                <p>To verify if your user account is set-up, you may try to log in using the username and password provided to you via email from Checkpoint Systems. This username and password is provided upon approval. If you did not receive an email with a username and password then your account may not be setup. To determine your account status, please visit our contact us page to find email or phone numbers specific to your region.</p>
            </kendo-mobile-collapsible>
            <kendo-mobile-collapsible k-mini="false" k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="true" k-on-expand="OpenExpand()">
                <h3>What should I do if I forget my password?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sollicitudin nunc, ut auctor lectus scelerisque id. Duis semper, dui non iaculis placerat, enim orci venenatis enim, a laoreet turpis tellus a nulla. Suspendisse nec mi mattis, hendrerit magna eget, convallis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla luctus hendrerit pellentesque. Aliquam dictum sodales velit eget hendrerit. Ut diam dui, maximus id nisi et, mattis condimentum nunc. Phasellus sollicitudin scelerisque lacus non placerat.
                </p>
            </kendo-mobile-collapsible>
        </kendo-mobile-list-view>
    </kendo-mobile-content>
</kendo-mobile-view>