<kendo-mobile-view k-transition="'slide'">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent">
            <kendo-mobile-back-button k-align="'left'">Back</kendo-mobile-back-button>
            <kendo-view-title><img src="styles/images/Checknet-title.png" style="width: 5em; height: .9em;" /></kendo-view-title>
            </kendo-mobile-button>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content>
        <ul kendo-mobile-list-view>
            <li data-icon="check-icon icon-contact"><a href="views/contact-us.html">Contact Us</a>
            </li>
            <li data-icon="check-icon icon-faq"><a href="views/faqs.html">FAQs</a>
            </li>
            <li data-icon="check-icon icon-terms"><a href="views/terms.html">Terms Conditions</a>
            </li>
            <li data-icon="check-icon icon-policy"><a href="views/policies.html">Policies</a>
            </li>
            <li data-icon="check-icon icon-help"><a>Help</a>
            </li>
        </ul>
        <ul kendo-mobile-list-view class="km-grey-box">
            <li>
                <div style="border-left: .3rem #D52B1E solid; padding-left:1rem;">
                <img src="styles/images/Checknet-Logo.png" style="width: 10rem; height: 3rem; margin-bottom:1rem; display: block;" />
                <h5>TJ MAXX 4000 OLDFIELD BLVD</h5>
                <h5>PITTSTON, PA, 18640</h5>
                <h5>US Phone : 000-000-0000</h5>
                <h5>Email : <a href="#">testuser@email.com</a> </h5>
                </div>
            </li>
        </ul>
    </kendo-mobile-content>
</kendo-mobile-view>